.position-r {
    position: relative;
}

.center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green_bg {
    background-color: #18e392;
}

.red_bg {
    background-color: #f97157;
}

.at-button--primary {
    background-color: #18e392;
    border: none;
    height: 48px;
    line-height: 48px;
}